/el-get
*~
/elpa
ac-comphist.dat
.places
auto-save-list
backups
*~
*.places
session.*
tramp
swank
emms
site-lisp/adventur-mode
*.elc
.DS_Store
.yas-compiled-snippets.el
.cask
srecode-map.el
.edbi-ds-history
projectile-bookmarks.eld
